.comments {
    margin-top: 16px;
}

.comment {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    border-bottom: 1px solid rgba(221, 221, 221, 0.5);
    padding-bottom: 7px;
}

.comment-avatar {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-right: 12px;
}

.comment-content {
    flex: 1;
}

.comment-content span {
    color: white;
    font-size: medium;
}

.comment-author {
    font-weight: bold;
    margin-bottom: 4px;
}

.comment-text {
    font-size: 1.4rem;
    color: white;
}